<main class="table">
    <article id="topTable" class="flex justify-content-space-between top-table-margin-bottom-lg ">

        <article id="stockAndTalon" class="flex">
            <div id="stock" class="margin-right-sm" (click)="flipACardFromAStock()">
                <img class="card-size" src="assets/img/cardBack/Card_back_01.svg" alt="Back of the cards"
                    draggable="false">
            </div>
            <div id="talon" *ngFor="let card of talon; last as isLast">
                <img *ngIf="isLast" class="card-size" src="assets/img/cards/{{card.cardName}}.svg" alt="Top of the deck"
                    draggable="true" (dragstart)="onCardDragged($event, card)">
            </div>
        </article>

        <article id="foundations" class="flex">
            <article id="foundation" *ngFor="let foundation of foundations; let i = index"
                (drop)="dropToFoundation($event)" (dragover)="allowDrop($event)">
                <div class="card-size foundation" id="{{i}}">
                    <img *ngIf="foundation.length > 0" class="card-size" id="{{i}}"
                        src="assets/img/cards/{{foundation[foundation.length - 1].cardName}}.svg" alt="Foundation card">
                </div>
            </article>
        </article>

    </article>

    <article id="bottomTable" class="flex">
        <article id="tableauColumn" *ngFor="let column of tableau; let tableauColumnIndex = index"
            class="margin-right-md">
            <div *ngFor="let card of column; first as isFirst; last as isLast"
                [ngClass]="{'cards-on-top-of-each-other':!isFirst}">
                <img *ngIf="!card.visible" class="card-size" src="assets/img/cardBack/Card_back_01.svg"
                    alt="Tableau card" (click)="setLastTableauColumnCardToVisible(card, isLast)">
                <img *ngIf="card.visible" class="card-size" id="{{card.cardName}}"
                    src="assets/img/cards/{{card.cardName}}.svg" alt="Tableau card" draggable="true"
                    (dragstart)="onCardDragged($event, card, tableauColumnIndex)"
                    (drop)="dropToTableauColumn($event, tableauColumnIndex)" (dragover)="allowDrop($event)">
            </div>
        </article>
    </article>
</main>