.card-size {
  width: 10vw;
}

.table {
  background-color: rgba(34, 139, 34, 0.8);
  padding: 2vh 0.75vw 2vh 0.75vw;
}

.card-placeholder {
  height: 14.5vw;
  border-width: thin;
  border-style: solid;
  border-radius: 0.5vw;
  margin-left: 0.25vw;

  &__foundation {
    border-color: gold;
  }

  &__empty-stock {
    border-color: floralwhite;
  }
}

.cards-on-top-of-each-other {
  margin-top: -17rem;

  &--space-large {
    margin-top: -16rem;
  }
}

.top-table-margin-bottom-lg {
  margin-bottom: 5vh;
}
