<main class="table">
    <article id="topTable" class="flex justify-content-space-between top-table-margin-bottom-lg ">

        <div id="stockAndTalon" class="flex">
            <!-- Stock -->
            <div *ngIf="stock.length > 0" id="stock" class="margin-right-sm" (click)="flipACardFromAStock()">
                <img class="card-size" src="assets/img/cardBack/Card_back_01.svg" alt="Stock" draggable="false">
            </div>
            <div *ngIf="stock.length === 0"
                class="card-size card-placeholder card-placeholder__empty-stock margin-right-sm"
                (click)="onReuseTalon()">

            </div>

            <!-- Talon / waste -->
            <div id="talon" *ngFor="let card of talon; last as isLast">
                <img *ngIf="isLast" class="card-size" src="assets/img/cards/{{card.cardName}}.svg"
                    alt="Last flipped card of the talon" draggable="true" (dragstart)="onCardDragged($event, card)">
            </div>

        </div>

        <!-- Foundations -->
        <div id="foundations" class="flex">
            <div id="foundation" *ngFor="let foundation of foundations; let i = index" (drop)="dropToFoundation($event)"
                (dragover)="allowDrop($event)">
                <div class="card-size card-placeholder card-placeholder__foundation" id="{{i}}">
                    <img *ngIf="foundation.length > 0" class="card-size" id="{{i}}"
                        src="assets/img/cards/{{foundation[foundation.length - 1].cardName}}.svg" alt="Foundation card">
                </div>
            </div>
        </div>

    </article>

    <article id="bottomTable" class="flex">
        <!-- Tableau -->
        <div id="tableauColumn" *ngFor="let column of tableau; let tableauColumnIndex = index" class="margin-right-md">
            <div *ngFor="let card of column; first as isFirst; last as isLast"
                [ngClass]="{'cards-on-top-of-each-other':!isFirst}">
                <img *ngIf="!card.visible" class="card-size" src="assets/img/cardBack/Card_back_01.svg"
                    alt="Tableau card" (click)="setLastTableauColumnCardToVisible(card, isLast)">
                <img *ngIf="card.visible" class="card-size" id="{{card.cardName}}"
                    src="assets/img/cards/{{card.cardName}}.svg" alt="Tableau card" draggable="true"
                    (dragstart)="onCardDragged($event, card, tableauColumnIndex)"
                    (drop)="dropToTableauColumn($event, tableauColumnIndex)" (dragover)="allowDrop($event)">
            </div>
        </div>
    </article>
</main>